// Place all the styles related to the talk_rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#display-block{
  visibility: visible;
}

.talk-rooms-content-close{
  display: none;
}

.contain{
  background-color: #313131;
  height: 100vh;

  @keyframes fade-in{
    0% {
      visibility: hidden;
      opacity: 0;
    }
    90% {
      visibility: hidden;
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

  .talk-room-index{
    display: flex;

    &__sidebar{
      width: 60px;
      min-width: 60px;
      height: 100vh;
      background: #222;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .fukidashi{
        width: max-content;
        position: absolute;
        font-size: .7rem;
        visibility: hidden;
        padding: 5px 9px;
        bottom: 0px;
        left: 30px;
        border-radius: 2px;
        background: #fff;
        color: #000;
        border: 1px solid #bbb;
        z-index: 10;
      }

      i{
        display: inline-block;
        color: #666;
        cursor: pointer;

        &:hover{
          color: #999;

          + .fukidashi{
            visibility: visible;
            animation-duration: .5s;
            animation-name: fade-in;
          }
        }
      }

      &--main{
        padding-top: 28px;
        display: flex;
        flex-direction: column;

        span{
          margin: 0 auto;
          position: relative;

          i{
            font-size: 1.4rem;
            margin-bottom: 28px;
          }
        }
      }

      &--other{
        display: flex;
        flex-direction: column;

        span{
          margin: 0 auto;
          position: relative;

          i{
            font-size: 1.1rem;
            margin-bottom: 22px;
          }

          .user-other{
            position: absolute;
            bottom: 45px;
            left: 25px;
            width: 100px;
            padding: 5px 0;
            background-color: #444;
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            display: none;
            .LINE{
              border-bottom: 1px solid #555;
              margin-bottom: 3px;
              padding-bottom: 8px;
            }
            a{
              color: #bbb;
              padding: 4px 20px;
              width: 100%;
              display: inline-block;
              font-size: .75rem;
              text-decoration: none;

              &:hover{
                background-color: #555;
              }
            }
          }
        }
      }
    }

    &__talk-rooms{

      %__select{
        position: relative;
        display: block;
        margin: 0 auto;
        text-align: left;
        user-select: none;
      }

      %__select-list{
        font-size: .8rem;
        color: #888;
        position: relative;
        display: block;
        z-index: 1;
        padding: 1px;
        cursor: pointer;

        &:after{
          position: absolute;
          right: 1em;
          top: 50%;
          transform: translateY(-50%);
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f077";
        }
      }

      %__select-ul{
        ul{
          display: none;
          position :absolute;
          overflow: hidden;
          overflow-y: auto;
          width: 100%;
          background: #313131;
          top: 100%;
          left: 0;
          list-style: none;
          margin-top: 5px;
          padding: 0;
          z-index: 2;

          li{
            display: block;
            text-align: left;
            padding: 0.9em 1em 0.9em 1em;
            color: #888;
            cursor: pointer;

            &:hover{
              background: #444;
            }
          }
        }
      }

      %__open{
        &.is-open{
          span:after{
            content: '\f077';
          }
          ul{
            display: block;
          }
        }
      }

      .talk-rooms{
        width: max-content;
        min-width: 300px;
        display: none;

        &__search{
          display: flex;
          margin: 35px 15px 10px 15px;

          i{
            height: 35px;
            color: #999;
            display: inline-block;
            background-color: #444;
            padding: 11px;
            font-size: 0.9rem;
            text-align: center;
            border-radius: 5px 0 0 5px;
          }
          form{
            width: 100%;
            display: block;

            input{
              width: 100%;
              height: 35px;
              display: inline-block;
              background-color: #444;
              outline: none;
              border-radius: 0 5px 5px 0;
              color: #ddd;
            }
          }
        }

        .result{
          padding: 8px 0 16px 18px;

          &:hover{
            background: #383838;
          }
          a{
            display: flex;
            text-decoration: none;
            img{
              width: 42px;
              height: 42px;
              border-radius: 50%;
            }
            p{
              color: #ccc;
              margin-left: 12px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              font-size: .85rem;
            }
          }
        }

        &__my-information{
          display: flex;
          padding: 8px 0 16px 18px;

          &:hover{
            background: #383838;
          }

          &--image{
            height: 42px;
            img{
              width: 42px;
              height: 42px;
              border-radius: 50%;
            }
          }

          &--name{
            color: #ccc;
            margin-left: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: .85rem;
          }
        }

        &__list{
          box-sizing: border-box;

          %__rooms-list{
            ul{
              display: none;

              li{
                list-style: none;
                display: flex;
                padding: 7px 14px;
                position: relative;

                &:hover{
                  background: #383838;
                }

                a{
                  display: flex;

                  img{
                    display: inline-block;
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                  }

                  p{
                    width: 200px;
                    margin-left: 10px;
                    font-size: .7rem;
                    height: 42px;
                    line-height: 42px;
                    color: #ddd;
                  }
                }
              }
            }
          }

          &--groups{
            @extend %__select;
            @extend %__rooms-list;
            .select-group-list{
              @extend %__select-list;
              padding: 6px 10px;
            }
          }
          &--friends{
            @extend %__select;
            @extend %__rooms-list;
            .select-friends-list{
              @extend %__select-list;
              padding: 6px 10px;
            }
          }
          .is-open{
            span:after{
              content: '\f078';
            }
            ul{
              display: block;
            }
          }
        }
      }

      .talk{
        width: max-content;
        min-width: 300px;
        padding-top: 30px;
      }

      .add-friends{
        width: max-content;
        min-width: 300px;
        display: none;

        %__friends-create-content{
          display: flex;
          width: 100%;
          padding: 7px 16px;
          cursor: pointer;

          &:hover{
            background-color: #363636;
          }

          i{
            display: inline-block;
            width: 42px;
            height: 42px;
            font-size: .9rem;
            color: #eee;
            background: #393939;
            border-radius: 50%;
            text-align: center;
            line-height: 45px;
          }

          p{
            font-size: .85rem;
            height: 42px;
            margin-left: 10px;
            line-height: 40px;
            color: #eee;
          }
        }

        &__content{

          &--search{
            @extend %__friends-create-content;
          }

          &--create-group{
            @extend %__friends-create-content;
          }

          &--create-open-chat{
            @extend %__friends-create-content;
          }
        }

        &__users{
          padding-top: 10px;

          %__user-lists{
            position: relative;

            &:after{
              position: absolute;
              right: 1em;
              top: 50%;
              transform: translateY(-50%);
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f077";
            }
          }

          %__user-content{
            font-size: .8rem;
            color: #888;
            position: relative;
            display: block;
            z-index: 1;
            padding: 8px 15px;
            cursor: pointer;

            &:after{
              position: absolute;
              right: 1em;
              top: 50%;
              transform: translateY(-50%);
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f077";
            }
          }

          %__user{
            ul{
              display: none;

              li{
                list-style: none;
                display: flex;
                padding: 7px 14px;
                position: relative;

                img{
                  display: inline-block;
                  width: 42px;
                  height: 42px;
                  border-radius: 50%;
                }

                p{
                  width: 200px;
                  margin-left: 10px;
                  font-size: .7rem;
                  height: 42px;
                  line-height: 42px;
                  color: #ddd;
                }

                i{
                  height: 42px;
                  line-height: 42px;
                  color: #999;
                  cursor: pointer;
                  display: inline-block;
                  float: right;

                  &:hover{
                    + .fukidashi{
                      visibility: visible;
                      animation-duration: .5s;
                      animation-name: fade-in;
                    }
                  }
                }

                .fukidashi{
                  width: max-content;
                  position: absolute;
                  visibility: hidden;
                  font-size: .7rem;
                  padding: 4px 8px;
                  bottom: -16px;
                  right: -47px;
                  border-radius: 2px;
                  background: #fff;
                  color: #000;
                  border: 1px solid #bbb;
                  z-index: 10;
                }

                &:hover{
                  background: #363636;
                }
              }
            }
          }

          %__is-open{
            .is-open{
              span:after{
                content: '\f078';
              }
              ul{
                display: block;
              }
            }
          }

          &--official{
            .official-account{
              .recommended-official{
                @extend %__user-content;
              }
              @extend %__user;
            }
            @extend %__is-open;
          }

          &--acquaintance{
            .acquaintancers{
              .maybe-acquaintance{
                @extend %__user-content;
              }
              @extend %__user;
            }
            @extend %__is-open;
          }
        }
      }

      .is-show{
        display: block;
      }
    }

    &__talk{
      min-width: 400px;
      width: 100%;
      height: 100vh;
      border-left: 1px solid #444;

      .user-talks{

        &__talk{

          // トーク表示部分の記述
          .user-talk-index{
            width: 100%;
            max-height: 100vh;

            &__name{
              height: 70px;
              border-bottom: 1px solid #404040;

              p{
                padding-top: 26px;
                padding-left: 10px;
                color: #ddd;
                font-size: 1.2rem;
              }
            }

            &__talks{
              overflow-y: scroll;
              font-size: .75rem;
              height: calc(100vh - 180px);

              &--right{
                margin: 10px;
                display: flex;
                justify-content: flex-end;
                padding-right: 20px;

                .time{
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                  width: max-content;
                  color: #888;
                  margin: 0 7px;
                  font-size: 0.5rem;
                }
                .talk{
                  padding: 7px 12px;
                  color: #333;
                  background-color: #28D654;
                  border-radius: 18.5px;
                }
              }

              &--left{
                margin: 10px;
                display: flex;
                padding-left: 10px;

                img{
                  width: 35px;
                  height: 35px;
                  border-radius: 50%;
                  margin-right: 12px;
                }
                .time{
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                  width: max-content;
                  color: #888;
                  margin: 0 7px;
                  font-size: 0.5rem;
                }
                .talk{
                  padding: 7px 12px;
                  color: #ccc;
                  background-color: #555;
                  border-radius: 18.5px;
                }
              }

              nav{
                display: none;
              }
            }

            &__form{
              width: 100%;
              height: 110px;
              border-top: 1px solid #404040;
              background-color: #313131;

              textarea{
                min-width: 100%;
                padding: 10px 0 50px 10px;
                outline: none;
                color: #ccc;
                // text-shadow: 0 0 0 #000;
                // -webkit-text-fill-color: transparent;
              }
            }

            .non-talk-case{

              &__contents{
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img{
                  width: 110px;
                  height: 110px;
                }
                span{
                  color: #888;
                }
                a{
                  padding-top: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}
