// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin form-box{
  width: 500px;
  height: 100vh;
  border-right: 1px solid rgba(66, 66, 66, .6);
  padding-right: 50px;
  margin: 70px 50px;
}

@mixin title-css{
  color: #00bb00;
  text-align: center;
  margin-bottom: 7%;
  font-size: 2rem;
  font-family: 'Rubik', sans-serif;
}

@mixin form-field-css{
  position: relative;
  width: 300px;
  border: 1px solid #666;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 2%;

  input{
    width: 100%;
    font-size: .8rem;
    padding: 12px;
    background-color: #313131;
    outline: none;
    color: #eee;
    background: none;
    &:foucus{
      background-color: #313131;
    }
  }
}

@mixin submit-action{
  margin-bottom: 2%;
  text-align: center;
  input{
    font-size: .8rem;;
    color: #eee;
    background: #ddd;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    outline: none;
  }
}

@mixin submit-hover{
  margin-bottom: 2%;
  text-align: center;
  input{
    font-size: .8rem;;
    color: #eee;
    background: #00bb00;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    outline: none;

    &:hover{
      background: #22bb22;
    }
  }
}

.content{
  background-color: #313131;
  display: flex;

  // ログイン画面　ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  // ログイン画面　ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .session{
    @include form-box;

    &__title{
      @include title-css;
    }

    &__field{
      @include form-field-css;

      #pass_check{
        display: none;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 58px;
        left: 265px;
        color: #ddd;
      }

      &--top{
        border-bottom: 0.5px solid #666;
      }
    }

    &__actions{
      @include submit-action;
    }

    &__hover{
      @include submit-hover;
    }

    &__remenber{
      width: 300px;
      margin: 0 auto;
      color: #666;
      font-size: .8rem;
      input{
        margin-right: 2%;
      }
    }
  }


  // 新規登録画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  // 新規登録画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .sign-up{
    @include form-box;

    &__title{
      @include title-css;
    }

    #error_explanation{
      width: 300px;
      font-size: 0.75rem;
      color: #ff425f;
      margin: 0 auto;
      line-height: 1.7;
      margin-bottom: 3%;

      ul{
        list-style: none;
      }
    }

    &__field{
      @include form-field-css;

      &--name,
      &--email,
      &--password,
      &--password_confirmation {
        border-bottom: 1px solid #666;
      }
    }

    &__birth{
      font-size: .8rem;
      display: flex;
      width: 300px;
      color: #999;
      margin: 0 auto;
      margin-top: 3%;

      div{
        width: 10%;
        margin: -10px 12% 3% 0;

        select{
          color: #eee;
          outline: none;
          border: 1px solid #666;
          padding: 5px;
          border-radius: 2px;
        }
      }
    }

    &__actions{
      @include submit-action;
    }

    &__hover{
      @include submit-hover;
    }

    &__login{
      width: 300px;
      font-size: .8rem;
      color: #999;
      margin: 0 auto;
      text-align: center;

      a{
        color: #bbb;
      }
    }
  }


  // ユーザー編集画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  // ユーザー編集画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .user-edit{
    background-color: #fff;
    display: flex;

    &__sidebar{
      width: 160px;
      height: 100vh;
      border-right: 1px solid #d3dae3;
      display: flex;
      flex-direction: column;

      a{
        padding: 11px 0 11px 18px;
        font-size: .77rem;
        color: #6c717a;
        display: inline-block;
        text-decoration: none;

        &:hover{
          color: #111;
          background-color: #dde3eb;
        }
      }
    }

    &__basic-set{
      width: 500px;
      padding-top: 18px;

      &--top{
        display: flex;

        %__basic-set-base{
          display: flex;
          font-size: .7rem;
          padding-bottom: 6px;

          input{
            outline: none;
            cursor: pointer;
            width: max-content;

            &:hover{
              border: 1px solid #ccc;
              margin: -1px;
            }
          }

          .left{
            width: 130px;
            color: #103636;
            font-weight: 600;
            letter-spacing: .6px;
          }

          .right{
            color: #288080;

            span{
              margin-right: 8px;
              color: #ddd;
            }

            a{
              text-decoration: none;
              color: #288080;
              margin-right: 8px;

              i{
                margin-right: 4px;
              }
            }
          }
        }

        .image{
          width: 26%;
          position: relative;

          img{
            margin-left: 15px;
            width: 100px;
            border-radius: 50%;
          }

          #image-edit{
            position: absolute;
            bottom: 20px;
            right: 22px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            label{
              cursor: pointer;

              #user-edit-image{
                display: none;
              }

              i{
                font-size: .8rem;
                color: #888;
              }
            }
          }
        }

        .base{
          .name,
          .introduction,
          .id,
          .mail,
          .other{
            @extend %__basic-set-base;
          }
        }
      }

      %__basicset--bottom{
        padding-top: 30px;
        margin-left: 22px;
        p{
          font-size: .7rem;
          margin-bottom: 7px;
        }
      }

      %__select{
        font-size: .85rem;
        position: relative;
        display: block;
        color: #222;
        vertical-align: middle;
        text-align: left;
        user-select: none;
      }

      %__select-placeholder{
        position: relative;
        display: block;
        z-index: 1;
        padding: 1px;
        cursor: pointer;
        border: 1px solid #ddd;

        &:after{
          position: absolute;
          right: 1em;
          top: 50%;
          transform: translateY(-50%);
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f0d7";
        }
      }

      &--language{
        @extend %__basicset--bottom ;

        .language-select{
          @extend %__select;
          width: 100%;
          max-width: 300px;

          .language-select-placeholder{
            @extend %__select-placeholder;
          }

          &.is-open{
            ul{
              display: block;
            }
          }

          ul{
            max-width: 290px;
            border: 1px solid #ddd;
            display: none;
            position: absolute;
            overflow: hidden;
            overflow-y: auto;
            width: 100%;
            background: #fff;
            border-radius: 2px;
            top: -4px;
            left: -8px;
            list-style: none;
            margin: 5px 0 0 0;
            padding: 0;
            z-index: 2;
            max-height: 250px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.4);

            li{
              display: block;
              text-align: left;
              padding: 2px;
              cursor: pointer;

              &:hover{
                background: #eee;
              }
            }
          }
        }
      }

      &--font{
        @extend %__basicset--bottom ;

        .font-select{
          @extend %__select;
          width: 100%;
          max-width: 260px;

          .font-select-placeholder{
            @extend %__select-placeholder;
          }
        }
      }

      %__checkbox{
        input{
          vertical-align: middle;
        }
        label{
          margin-left: 5px;
          font-size: .75rem;
          color: #288080;
        }
      }

      &--login{
        @extend %__basicset--bottom ;
        @extend %__checkbox;
      }

      &--screen{
        @extend %__basicset--bottom ;
        @extend %__checkbox;
        span{
          display: block;
          color: #288080;
        }
      }
    }
  }
}
